.sidenav-header {
  text-align: center;
}

.profile-div {
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
}

.header-text {
  > h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  > p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 290px); /* Full height */
}

.logout-button {
  margin-top: auto; /* Pushes logout button to bottom */
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

mat-nav-list {
  > a {
    border-radius: 0;
  }
}
