<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to</mat-card-title>
    </mat-card-header>
    <div class="logo-div">
      <img
        src="../../../assets/kairos-high-resolution-logo-transparent-cropped.svg"
      />
    </div>
    <mat-card-content>
      <form class="login-form">
        <!-- Email Input -->
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="email"
            name="login"
            [(ngModel)]="loginObj.login"
            required
          />
        </mat-form-field>

        <!-- Password Input -->
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="loginObj.password"
            required
          />
        </mat-form-field>

        <!-- Login Button -->
        <button mat-raised-button color="primary" (click)="onLogin()">
          Log in
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
