<h2 mat-dialog-title>Log Time</h2>

<form
  class="dialog-form"
  [formGroup]="form"
  (ngSubmit)="submitForm()"
  mat-dialog-content
>
  <!-- Start Date Picker -->
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input
      matInput
      [matDatepicker]="startPicker"
      formControlName="start_date"
    />
    <mat-datepicker #startPicker />
    <mat-datepicker-toggle [for]="startPicker" matSuffix />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input
      matInput
      [matTimepicker]="starttimepicker"
      formControlName="start_date"
    />
    <mat-timepicker #starttimepicker />
    <mat-timepicker-toggle [for]="starttimepicker" matSuffix />
  </mat-form-field>

  <!-- End Date Picker -->
  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" formControlName="end_date" />
    <mat-datepicker #endPicker />
    <mat-datepicker-toggle [for]="endPicker" matSuffix />
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Time</mat-label>
    <input
      matInput
      [matTimepicker]="endtimepicker"
      formControlName="end_date"
    />
    <mat-timepicker #endtimepicker />
    <mat-timepicker-toggle [for]="endtimepicker" matSuffix />
  </mat-form-field>

  <!-- Task Autocomplete -->
  <mat-form-field appearance="outline">
    <mat-label>Task</mat-label>
    <input
      type="text"
      matInput
      formControlName="task"
      [matAutocomplete]="taskAuto"
      (keyup)="getTasks()"
    />
    <mat-autocomplete #taskAuto="matAutocomplete">
      <mat-option
        *ngFor="let task of filteredTasks"
        [value]="task.name"
        (click)="selectTask(task)"
      >
        {{ task.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" required></textarea>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="submitForm()" color="primary" type="submit">
      Submit
    </button>
  </div>
</form>

<!-- Error Message -->
<div *ngIf="form.hasError('invalidDateRange')">
  <mat-error
    >End date and time must be after the start date and time.</mat-error
  >
</div>
