/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();

html {
  // TODO switch color-scheme to light dark later when styling
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$magenta-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .success-snackbar {
  > div {
    background-color: #1aba1a !important;
    color: white !important;
    font-weight: bold !important;
    // border-radius: 8px;
    // padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    button {
      color: white !important;
    }
  }
}

::ng-deep .error-snackbar {
  > div {
    background-color: var(--mat-sys-error) !important;
    color: var(--mat-sys-on-error) !important;
    font-weight: bold !important;
    // border-radius: 8px;
    // padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    button {
      color: var(--mat-sys-on-error) !important;
    }
  }
}

::ng-deep .table-icon {
  color: var(--mat-sys-primary);
}

::ng-deep .sidebar-icon {
  color: var(--mat-sys-primary) !important;
}
